<ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li [ngbNavItem]="roundIndex" *ngFor="let round of rounds; let roundIndex = index">
      <a ngbNavLink>Round {{ roundIndex + 1 }}</a>
      <ng-template ngbNavContent>
        <div *ngIf="round.length > 0">
          <div class="container mt-5">
            <div class="row justify-content-center">
              <div class="col-md-10"> 
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div *ngFor="let match of round" class="col">
                    <div class="card mb-3">
                      <div class="card-header text-center">
                        Score
                        <br>
                        <div *ngIf="match.scoreJ1 != undefined && match.scoreJ2 != undefined">
                          {{ match.scoreJ1 }} - {{ match.scoreJ2 }}
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col text-center">
                            {{ match.joueur_1.nom }} {{ match.joueur_1.prenom }}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col text-center">VS</div>
                        </div>
                        <div class="row">
                          <div class="col text-center">
                            {{ match.joueur_2.nom }} {{ match.joueur_2.prenom }}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col text-center">
                            <br>
                            <div class="row">
                              <div class="col-md-6">
                                <button *ngIf="match.resultat==0" type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal' + match._id" (click)="resetMessage()"> Score final</button>
                              </div>
                              <div class="col-md-6">
                                <button *ngIf="match.resultat==0" type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#finirMatchModal' + match._id">Finir Match</button>  
                              </div>
                              <div *ngIf="match.resultat!=0" class="alert alert-info" role="alert">
                                <p>Match terminé !</p>
                                <p>Le vainqueur est : {{ match.vainqueur.nom }} {{ match.vainqueur.prenom }}</p>
                              </div>
                            </div>
                          </div>                                
                        </div>
                      </div>
                    </div>   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="round.length === 0">Pas de match dans ce round.</div>
      </ng-template>
    </li>
    <button *ngIf="rounds.length < roundMax()" [disabled]="matchsEnCours" (click)="nouveauRound()" type="button" class="btn btn-primary">Nouveau round</button> 
    <button *ngIf="rounds.length===roundMax() && tournoi?.gagnant == undefined" [disabled]="matchsEnCours" type="button" class="btn btn-primary" (click)="updateGagnantTournoi()">Finir le tournoi</button> 
</ul>

<div class="container">
  <div *ngIf="tournoi?.gagnant != undefined">
    <h1> Tournoi terminer !</h1>
    <p> gagnant du tournoi : </p>
    <p> {{ tournoi?.gagnant?.nom }} {{ tournoi?.gagnant?.prenom }} </p>
  </div>
</div>
  
<div [ngbNavOutlet]="nav" class="mt-2"></div>

<div *ngFor="let match of tournoi?.matchs">
    <div class="modal fade" id="exampleModal{{ match._id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modifier match</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div *ngIf="match.scoreJ1 != undefined && match.scoreJ2 != undefined">
                      <div *ngIf="!isValidScore(match.scoreJ2) || !isValidScore(match.scoreJ1)" class="text-danger">Veuillez saisir un nombre entre 0 et 11</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="scoreJ1" placeholder="Score joueur 1" [(ngModel)]="match.scoreJ1" min="0" max="11">
                        <label for="floatingInput">Score joueur 1</label>
                    </div>                    
                    <div class="form-floating">
                        <input type="number" class="form-control" id="scoreJ2" placeholder="Score joueur 2" [(ngModel)]="match.scoreJ2" min="0" max="11">
                        <label for="floatingPassword">Score joueur 2</label>
                    </div>
                    <div *ngIf='message!=""'>
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <div *ngIf="match.scoreJ1 != undefined && match.scoreJ2 != undefined">
                      <button type="button" class="btn btn-primary" [disabled]="!isValidScore(match.scoreJ2) || !isValidScore(match.scoreJ1)" (click)="updateScore(match)">Confirmer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngFor="let match of tournoi?.matchs">
    <div class="modal fade" id="finirMatchModal{{ match._id }}" tabindex="-1" aria-labelledby="finirModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="finirModalLabel">Finir le match</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info" role="alert">
                        <p>Vous vous apprêtez à confirmer que le match entre {{ match.joueur_1.nom }} {{  match.joueur_1.prenom }} et {{ match.joueur_2.nom }} {{  match.joueur_2.prenom }} s'est bel et bien terminé sur le score de {{match.scoreJ1}}-{{match.scoreJ2}}.</p>
                        <p>Une fois que vous aurez confirmé la fin du match, il ne sera plus possible de faire marche arrière.</p> 
                    </div>  
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary" (click)="finirMatchDansTournoi(match)">Confirmer</button>
                </div>
            </div>
        </div>
    </div>
</div>