<div class="container">
    <div class="rectangle-rouge text-center mt-5">
        <h1 class="fst-italic fw-bold">NOS DIFFERENTS TOURNOI</h1>
    </div>
    <div class="row mt-5"> 
        <div *ngFor="let tournoi of liste_tournoi; let i = index" class="col-md-3">
            <div class="card text-bg-light mb-3 text-center" style="max-width: 18rem;">
                <div class="card-header">Tournoi</div>
                <div class="card-body">
                    <h5 class="card-title">Format : {{ tournoi.format }}</h5>
                    <p class="card-text"> Niveau : {{ tournoi.niveau }}</p>
                    <p class="card-text"> Date : {{ tournoi.date }}</p>
                    <p class="card-text"> Lieu : {{ tournoi.lieu }}</p>
                    <button type="submit" class="btn btn-primary" (click)="redirectToDetails(tournoi)"> Afficher tournoi </button>
                </div>
            </div>      
        </div>
    </div>
</div>